<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container text-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand"href="">Trang Chủ</a>
        <a class="navbar-brand" href="">Giới Thiệu</a>
        <a class="navbar-brand" href="">Tour</a>
      </form>
      </div>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/img/avatar.png" alt="" class="user-avatar">
            Hanh
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Thông tin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Lịch sử đặt tour</a>
            <a class="dropdown-item" href="">Phản hồi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

</nav>